<!--Identical to previous code except for description and reformatting.-->
<p>This is a site that contains various projects made in the 
    GDS 089B: JavaScript II and Web Development course.</p>
</div>

<div id='textbox'>
    <h3>Index</h3>
    <p><a href="multiplicationtable.html">Multiplication Table</a></p>
    <p><a href="fortunes.html">Fortunes</a></p>
    <p><a href="presidents.html">Presidents</a></p>
    <p><a href="airquality.html">Air Quality</a></p>
    <li><a href='airlines.html'>Airlines</a></li>
</div>