<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Elysse Ahmad Yusri
    9 February 2024
    Express.JS Templates - Portfolio
    GDS 089B: JavaScript II and Web Development
    -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" /> 
    <title>Portfolio</title>

    <%- `<style>@import "${cssfile}"</style>` -%>
    <%- `<script src="${jsfile}"></script>` -%>
</head>

<body>
    <h1>Portfolio</h1>
    <div>
        <ul>
        <li><a href='.' class='nav'>Home</a></li>
        <li><a href='multiplicationtable.html' class='nav'>Multiplication Table</a></li>
        <li><a href='fortunes.html' class='nav'>Fortunes</a></li>
        <li><a href='presidents.html' class='nav'>Presidents</a></li>
        <li><a href='airquality.html' class='nav'>Air Quality</a></li>
        <li><a href='airlines.html' class='nav'>Airlines</a></li>
        </ul>
    </div>
    <div id='textbox'>
        <h3>Description</h3>
    <%- include(page); -%>
    <footer>
        <p>Made as part of the GDS 089B: JavaScript II and Web Development course</p>
        <p>2024 Elysse Ahmad Yusri</p>
    </footer>
    </body>
</html>        